
/*

refactor:
- all_webpage_styles.css
- container
- button

*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  button {
    cursor: pointer;
  }
  